
<h1>Random Beer</h1>


    <div id="random-beer-display">

        <div id="random-beer-img">
            <img src={{randomBeerFromApi.image_url}}>
        </div>


    <div id="random-beer-facts">
        <h2>{{randomBeerFromApi.name}}</h2>
        <p>{{randomBeerFromApi.description}}</p>
        <p>{{randomBeerFromApi.tagline}}</p>
        <p>Food pairing: {{randomBeerFromApi.food_pairing}}</p>
        <p>Brewers tips:{{randomBeerFromApi.brewers_tips}}</p>
    </div>

</div>